@import '~antd/dist/antd.css';

body {
  margin: 10px;
}

.app {
  width: 200px;
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 5px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.todo-list-item:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.todo-list-item .todo-list-item__icon {
  display: none;
}

.todo-list-item:hover .todo-list-item__icon {
  display: block;
}

.todo-list-item:hover .todo-list-item__icon:hover {
  display: block;
  color: blue;
  cursor: pointer;
}
